* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d9d9d9;
    font-family: 'Hind Siliguri', sans-serif;

}

.container {
    margin-top: 50px;
    margin-left: 200px;
}

.jumbotron {
    background-image: url('https://www.aeromate.com.bd/data/frontImages/gallery/product_image/Bangladeshi-Flag.jpg');
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding-top: 20rem;
    padding-bottom: 8rem;
}

.display-4{
    color:red;
    font-size: 30px;
    text-shadow: 2px 2px #000;
}


.navbar{
    margin:0 auto;
    background-color: white;
    height: 51px;

}

.navbar-expand-lg .nav-link{
    color:red;
    font-size: 15px;
    font-weight: bold;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 10px;
    padding-right: 10px;
    transition: color 0.3s;

}
.navbar-expand-lg .nav-link:hover{
    background-color: red;
    color: white;


}

.navbar-expand-lg .ul{
    margin:0;
    padding:0;
    display: inline-block;
}

.navbar-nav > li{
    padding:15px;
    text-align: center;
    margin: auto 0;
}

.navbar-collapse input{
    height:25px;
    margin-bottom: 2px;

}

.navbar-expand-lg .navbar-nav > li > .dropdown-menu{
    background-color: #00A65E;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.06);
    z-index: 1;
    top:78%;
    cursor: pointer;

}

.dropdown {
    position: relative;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #00A65E;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.06);
    z-index: 1;
}

.dropdown-content a {
    font-size: 15px;
    color: white;
    padding: 8px 13px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: red;}

.dropdown:hover .dropdown-content {display: block;}


.btn-sm{
    height: 25px;
    margin:2px 10px 0px 5px;
    line-height: 3px;
    background-color: #28A745;
    color:white;

}
.btn-sm:hover {
    background-color:#28A745;
    color:red;
}

div.polaroid {
    width: 300px;
    background-color:white;
    padding: 0px 20px 0px 20px;
    margin-bottom: 25px;
}

div.polaroids {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

div.polar{
    display: inline-block;
    margin: 10px;
    position: relative;
    width: auto;
}

div.polar img {
    border: 12px solid #fff;
    border-bottom: 70px solid #fff;
    -webkit-box-shadow: 3px 3px 3px #888;
    -moz-box-shadow: 3px 3px 3px #888;
    box-shadow: 3px 3px 3px #888;
    height: 250px;
    max-width: 100%;
}
div.polar p {
    color: #888;
    font: 500 18px/22px Arial, sans-serif;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}
div.polaroid:hover img{
    filter: brightness(100%);
    transform: scale(1.3);
}
.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: 150px;
}

span.wpb_button a{
    text-decoration: none;
}

span.wpb_button:hover a{
    background-color: #007236;
}

.headertwo{
    color: red;
    padding:10px 0px 10px 0px;
    text-align: center;
    font-weight: 600;
    font-size:22px;
}

.passage{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.g-btn span {
    position: relative;
}
.g-btn, button, input[type="submit"] {
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 36px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    -webkit-transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
    transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;

    display: inline-block;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    position: relative;
    cursor: pointer;
}


.g-btn.color_green {
    background-color:#59ba41;
    color: #fff;
}

.header{
    color: red;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
}
.headerthree{
    text-align: center;
    font-size: 22px;
    color: #ff0000 ;
}

.headerfour{
    color:red;
    font-size: 22px;
    text-align: center;
}

.headerfour.section-heading3 {
    color:white;
    padding-bottom: 5px;
    margin-bottom: 20px;
    font-weight: 700;
}

.card img{
    height: 200px;
    transition: all 0.3s ease 0s;
}

.card:hover img{
    filter: blur(8px) grayscale(80%);
    transform: scale(0.8,0.7);

}
/*footer*/
.page-footer{
    background-color: #00A65E;
    color: white;
}


#social_icon_footer a {
    color: white;
    font-size: 3rem;
    text-decoration: none;
}

#social_icon_footer .social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

#social_icon_footer .social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */

    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

#social_icon_footer #social-fb:hover {
    color: #3B5998;
}

#social_icon_footer #social-tw:hover {
    color: #0174DF;
}

#social_icon_footer #social-gp:hover {
    color: #d34836;
}

#social_icon_footer #social-em:hover {
    color: #f39c12;
}

/*footer*/

.bongobondhu .img {
    width: 45%;
    margin: 0 auto;
}

.bongobondhu .img img {
    height: 400px;
    width: 400px;
    max-width: 100%;
    float: right;
    margin: auto;
    padding: 0px 10px 10px 10px;

}
.freedom_fighter .img {
    width: 61%;
    margin: 0 auto;
}

.bookimages {
    height: 300px;
    max-width: 100%;
    -webkit-box-shadow: 5px 5px 5px #111;
    box-shadow: 5px 5px 5px #111;
    transition: all 0.45s ease-in-out;

}

.books .book {
    margin-right: 10px;
    margin-bottom: 10px;
}

.bookimages:hover{

    transform:scale(1.3);
    opacity: 1;
}



.bookimages .caption {
    cursor: pointer;
    position: absolute;
    opacity: 0;
}

.bookimages .caption-text{
    z-index: 10;
    color: #fff;
    position: absolute;
    width: 400px;
    height: 300px;
    text-align: center;
    top: 100px;

}
.bookimages .blur{
    background-color: rgba(0,0,0,0.65);
    height: 300px;
    width: 400px;
    z-index: 5;
    position: absolute;
}

.videogallery {
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    margin: 1%;
    float: left;
    border: solid 0.2em transparent;
}


/*etihash.languagemovement.index*/

.image-slider {
    display: inline;
    margin: 5px 5px 5px 5px;
    vertical-align: middle;
    border-style: none;
    height: 200px;
}

.carousel-multi-item-2 .card img {
    border-radius: 2px;
}

.controls-top a{
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
    color:white;
}
.controls-top a i{
    padding-left: 1rem!important;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

#carousel-with-lb #control{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#multi-item-example #multi-item-control{
    text-align:center;
    margin-bottom: 1.88rem
}

@media (min-width: 768px) {
    .carousel-multi-item-2 .col-md-3 {
        float: left;
        width: 25%;
        max-width: 100%;
    }
}

/*hover effect*/

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
}

.hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(-100px);
    -ms-transform: translatey(-100px);
    transform: translatey(-100px);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    padding: 10px;
}

.hovereffect a.info {
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin: 50px 0 0;
    padding: 7px 14px;
}

.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}

.hovereffect:hover img {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
}

.hovereffect:hover h2, .hovereffect:hover a.info {
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-transform: translatey(0);
    -webkit-transform: translatey(0);
    transform: translatey(0);
}

.hovereffect:hover a.info {
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
}
/*video*/
ul.video-list {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

li.video {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    width: 33.333333333%;
    width: -webkit-calc(100% / 3);
    width: calc(100% / 3);
    border: solid 0.2em transparent;
}

figure {
    display: block;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0 0 1rem;
}


.videoimage {
    display: block;
    max-width: 100%;
    height: auto;
    opacity: 0;
    transform: scale(0.5);
    transition: all .20s;
}

figcaption {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,0.6);
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 1rem;
    transform: translateY(0);
    opacity: 1;
    transition: all .20s;
}

figure:hover{
    opacity: 1;
    transform: scale(1);
}

.videoimage:hover{
    opacity: 1;
    transform: scale(1);
}

figcaption:hover {
    opacity: 0;
    transform: translateY(50%);
}

 .headersix{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: -0.03em;
    color: red ;
    padding-top: 50px;
}

html { box-sizing: border-box; height: 100%; overflow-y: scroll; font-size: 62.5%; }
*, *:before, *:after { box-sizing: inherit; }

body {

    font-size: 1.8rem;
    line-height: 1.2;
}

article {
    max-width: 1280px;
    margin: 0 auto;
    padding: 1em 2em;
}