 /*/* home phase image and readmore design**/

 .homeimage{
            margin: auto;
            display: inline;
            vertical-align: middle;
            border-style: none;
            width:100%;
            height: 200px;
            transition: transform 0.3s, filter 0.5s ease-in-out;
            transform-origin: center center;
            overflow: hidden;
        }

.img-thumbnail {
    padding: .25rem;
    background-color: blue;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: 150px;
}

span.wpb_button a{
    text-decoration: none;
}

span.wpb_button:hover a{
    background-color: #007236;
}

.g-btn span {
    position: relative;
}
.g-btn, button, input[type="submit"] {
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 36px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    -webkit-transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
    transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;

    display: inline-block;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    position: relative;
    cursor: pointer;
}


.g-btn.color_green {
    background-color:#59ba41;
    color: #fff;
}

div.polaroid {
    width: 300px;
    background-color:red;
    padding: 0px 20px 0px 20px;
    margin-bottom: 25px;
}
div.polaroid:hover img{
    filter: brightness(100%);
    transform: scale(1.3);
}


/*body color*/
body {
    background-color: #d9d9d9;
    font-family: 'Hind Siliguri', sans-serif;

}




/*hover effect book*/

.books{
    float: left;
   }

.bookhovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.bookhovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.bookhovereffect .bookimage {
    display: block;
    position: relative;
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
}

.bookhovereffect .title {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(-100px);
    -ms-transform: translatey(-100px);
    transform: translatey(-100px);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    padding: 10px;
}

.bookhovereffect .show.info {
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin: 50px 0 0;
    padding: 7px 14px;
}

.bookhovereffect .show.info:hover {
    box-shadow: 0 0 5px #fff;
}

.bookhovereffect:hover .bookimage{
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.bookhovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
}

.bookhovereffect:hover .title, .bookhovereffect:hover .show.info {
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-transform: translatey(0);
    -webkit-transform: translatey(0);
    transform: translatey(0);
}

.bookhovereffect:hover .show.info {
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
}
